<div id='projects'></div>
<div class="projects-container">
  <div class='header-projects'>
    <h1>PROJECTS</h1>
  </div>
  <div class='projects-content'>
    <% data.projects.each_with_index do |project, index| %>
      <div class='project-<%= index + 1 %>'>
          <% project_position = (index + 1).odd? ? 'left' : 'right' %>
          <div class='project-<%= project_position %>'>
            <a href="<%= project.live_link %>" target='_blank' class='project-img-link'>
              <div class='image-container'>
                <img src="<%= project.image_path %>" alt="" class='project-img'>
              </div>
              <div class='project-credentials'>
                <div class='project-credentials-text'>
                  <p>Username: kenta@yahoo.com</p>
                  <p>Password: secret</p>
                </div>
              </div>
            </a>
          </div>

          <div class='project-<%= project_position == "left" ? "right" : "left" %>'>
            <div class='project-description'>
              <h2><%= project.name %></h2>
              <p><%= project.description %></p>
              <%#= partial 'partials/project_tech_stack' %>
              <div class='project-tech-stack'>
              <% project.tech_stack.each do |tech_stack| %>
                <% tech_stack.each do |key, value| %>
                  <div class='tech'>
                    <p><%= key %></p>
                    <img src='<%= value %>' alt="">
                    <%# <img src="= data.tech_stack.techs['React']" alt="">%>
                  </div>
                <% end %>
              <% end %>
            </div>
              <div class='project-btns'>
                <a href="<%= project.live_link %>" target='_blank' class='view-project-btn'>View Project</a>
                <a href="<%= project.source_code_link %>" target='_blank' class='source-code-btn'>Source Code</a>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
