<div id='projects'></div>
<section class='projects'>
  <h2 class="heading-secondary heading-secondary--color-secondary u-mb-m">Projects</h2>

  <div class='projects-wrapper'>
    <% data.projects.each_with_index do |project, index| %>
      <div class='project project-<%= index + 1 %>'>
          <% project_position = (index + 1).odd? ? 'left' : 'right' %>
          <div class='project-<%= project_position %>'>
            <a href="<%= project.live_link %>" target='_blank' class='project-img__link'>
              <img src="<%= project.image_path %>" alt="<%= "Screenshot of #{project.name} project" %>" class='project-img'>

              <div class='project-credentials'>
                <div class='project-credentials-text'>
                  <%# if project.project_credentials  %>
                    <%# <p>Username: = project.project_credentials[:username]</p> %>
                    <%# <p>Password: <%= project.project_credentials[:password]</p> %>
                  <%# end %>
                </div>
              </div>
            </a>
          </div>

          <div class='project-<%= project_position == "left" ? "right" : "left" %>'>
            <div class='project__details'>
              <h2 class='u-mb-s'><%= project.name %></h2>
              <p class='u-mb-s'><%= project.description %></p>

              <div class='project__tech-stack u-mb-s'>
                <% project.tech_stack.each do |tech_name| %>
                    <div class='project__tech-stack-item'>
                      <p><%= tech_name %></p>
                      <img src="<%= data.tech_stack[tech_name]['src'] %>" alt="<%= data.tech_stack[tech_name]['alt'] %>">
                    </div>
                <% end %>
              </div>

              <div class='project__btns'>
                <a href="<%= project.live_link %>" target='_blank' class='btn btn--secondary'>View Project</a>
                <a href="<%= project.source_code_link %>" target='_blank' class='btn btn--primary'>Source Code</a>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</section>
