<%= partial 'partials/navbar' %>

<div class='main-container'>
  <!-- Banner Section -->
  <%= partial 'partials/header' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/contact' %>

  <%= partial 'partials/footer' %>
</div>
