<header>
  <%= partial 'partials/main-nav' %>
</header>

<main>
  <div class="container">
    <%= partial 'partials/hero' %>
  </div>

  <div class="container">
    <%= partial 'partials/about' %>
  </div>

  <div class="container">
    <%= partial 'partials/projects' %>
  </div>

  <div class="container">
    <%= partial 'partials/contact' %>
  </div>
</main>

<footer>
  <%= partial 'partials/footer' %>
</footer>
