<header>
  <%= partial 'partials/main-nav' %>
</header>

<main>
  <div class='main-container'>
    <!-- Hero Section -->
    <%= partial 'partials/hero' %>

    <!-- About Section -->
    <%= partial 'partials/about' %>

    <!-- Projects Section -->
    <%= partial 'partials/projects' %>

    <!-- Social Links Section -->
    <%= partial 'partials/contact' %>
  </div>
</main>

<footer>
  <%= partial 'partials/footer' %>
</footer>
